* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 3rem 2rem;
    height: 100vh;
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
    background-color: #0B2434;

    font-family: Karla, sans-serif;
}

div#root {
    height: 100%;
    width: 100%;
    max-height: 800px;
    max-width: 800px;
}

main {
    position: relative;

    border-radius: 10px;
    height: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    background-color: #F5F5F5;
}

h2 {
  font-size: 1.25rem;
  margin-bottom: 10px;
  font-weight: 600;
}


/* TABLE */

table {
  width: 90%;
  border-collapse: collapse;
  text-align: center;
  font-family: 'Karla', sans-serif;
  /* table-layout: fixed; */
}

thead {
  background-color: rgb(224, 224, 224);
}

th, td {
  padding: 12px 16px;
  border-bottom: 1px solid #e0e0e0;
}

tr:nth-child(even) {
  background-color: #fafafa;
}

tbody tr:first-child {
  font-weight: bold;
  background-color: #ffd857;
}

tbody tr:nth-child(2) {
  font-weight: bold;
  background-color: #C0C0C0;
}

tbody tr:nth-child(3) {
  font-weight: bold;
  background-color: #C5832B;
}

th {
  font-weight: 600;
  color: #333;
  text-transform: uppercase;
  font-size: 0.9rem;
}
td {
  font-size: 1rem;
}

button {
    cursor: pointer;
}

input[type="text"] {
  padding: 10px 0;
  font-size: 16px;
  border: 2px solid #ddd;
  border-radius: 7px;
  outline: none;
  text-align: center;
}

input[type="text"]:focus {
  border-color: #4a90e2;
}

/* Mobile */
@media (max-width: 474px) {
  th, td {
  padding: 6px 10px;
  border-bottom: none;
  font-weight: 400;
  font-size: 0.85rem;
  }

  input[type="text"] {
  font-size: 12px;
  }
}

